ul{
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  height:31.70vh;
  width: 99.45vw;
}

#orange,#white,#green{
  height: 100%;
}

#orange{
  background-color: #FF5722;
}

#white{
  display:flex;
  justify-content: center;
  align-items: center;
  color: blue;
  font-size: 40px;
  font-family: 'Sedgwick Ave Display', cursive;
}

#green{
  background-color: green;
}
